appdirs==1.4.4
asgiref==3.3.4
baron==0.9
beautifulsoup4==4.9.3
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==3.2
django-bootstrap4==3.0.0
django-cache-url==3.2.3
django-crispy-forms==1.11.2
django-environs==0.1.1
django-guardian==2.3.0
django-ratelimit==3.0.1
environs==9.3.2
gunicorn==20.1.0
marshmallow==3.11.1
psycopg2-binary==2.8.6
python-dotenv==0.17.0
pytz==2021.1
redbaron==0.9.2
rply==0.7.8
soupsieve==2.2.1
sqlparse==0.4.1
whitenoise==5.2.0
