appdirs==1.4.4
asgiref==3.3.4
baron==0.9
beautifulsoup4==4.9.3
certifi==2023.7.22
chardet==4.0.0
colorclass==2.2.0
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==3.2.20
django-bootstrap4==3.0.1
django-cache-url==3.2.3
django-crispy-forms==1.12.0
django-environs==0.1.1
django-guardian==2.4.0
django-ratelimit==3.0.1
docopt==0.6.2
environs==9.3.2
gunicorn==20.1.0
idna==3.2
marshmallow==3.12.1
packaging==20.9
pip-upgrader==1.4.15
psycopg2-binary==2.8.6
pyparsing==2.4.7
python-dotenv==0.17.1
pytz==2021.1
redbaron==0.9.2
requests==2.31.0
rply==0.7.8
soupsieve==2.2.1
sqlparse==0.4.2
terminaltables==3.1.0
urllib3==1.26.18
whitenoise==5.2.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
