{% extends "base.html" %}
{% load static %}

{% load bootstrap4 %}

{% block css %}
    <link rel="stylesheet" href="{% static 'sse_finder/css/home.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_case' %}">New Case</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_location' %}">New Location</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/find/case">Find Case</a>
</li>
{% endblock %}

{% block content %}
    
    <div class="heading">
        <div class="heading-inner">
            <h3>Potential Super Spreader Events</h3>
        </div>
    </div>

    <div class="date-container">

        <form method="POST" action="/">
            {% csrf_token %}

            <div class="date-form">

                <div class="dates">
                    Please Enter a Date Range <br><br> {{ form.as_p }}
                </div>

                <div class="buttons">
                    <button type="submit" class="btn btn-success button submit">Submit</button>
                    <a class="btn btn-danger button" role="button" href="{% url 'add_case'%}">Add New Case</a>
                </div>
            </div>
        </form>
    </div>

    <div class="table-container">
        <div class="table-inner">
            <table class="table">

                <thead class="table-dark bg-primary">
        
                <tr>
                    <th scope="col">Venue name</th>
                    <th scope="col">Building Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">X coordinate</th>
                    <th scope="col">Y coordinate</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Cases</th>
                </tr>
        
                </thead>
        
                <tbody>
        
                    {% for location in locations %}
                        <tr>
                            {% if location.case_num > 5%}
                            <th scope="row" class="table-danger"><a href= "{% url 'location_details' location.venue_name %}">{{location.venue_name}}</a></th>
                            <td class="table-danger">{{location.building_name}}</td>
                            <td class="table-danger">{{location.address}}</td>
                            <td class="table-danger">{{location.coordinate_x}}</td>
                            <td class="table-danger">{{location.coordinate_y}}</td>
                            <td class="table-danger">{{location.date_of_event}}</td>
                            <td class="table-danger">{{location.case_num}}</td>
                            {% else %}
                            <th scope="row"><a href= "{% url 'location_details' location.venue_name %}">{{location.venue_name}}</a></th>
                            <td>{{location.building_name}}</td>
                            <td>{{location.address}}</td>
                            <td>{{location.coordinate_x}}</td>
                            <td>{{location.coordinate_y}}</td>
                            <td>{{location.date_of_event}}</td>
                            <td>{{location.case_num}}</td>
                            {% endif%}
                        </tr>
                    {% endfor %}
        
                </tbody>
        
            </table>
        </div>
    </div>

    <script>
        $(function () {
          $("#id_date").datepicker({
            format:'dd/mm/yyyy',
          });
        });
      </script>

{% endblock %}