{% extends "base.html" %}
{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block title %}
    Add Case
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'add_case' %}">New Case</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_location' %}">New Location</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/find/case">Find Case</a>
</li>
{% endblock %}

{% block content %}

<div class="container">

  <div class="row justify-content-center">
    <div class="col-8">

      <div class="heading">
        <div class="row">
          <div class="col text-left">
            <br>
            <h3>Add New Case</h3>
          </div>
        </div>
      </div>
      <br>

      <form method="post">
        <div class="row">
          <div class="col"></div>
          <div class="col text-right">
            <a class="btn btn-primary button" role="button" href="{% url 'add_location'%}">Add Location</a>
          </div>
        </div>

        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="row button">
          <div class="col">
          </div>
          <div class="col text-right">
              <button style="margin-bottom: 2rem;" type="submit" class="btn btn-success">Save details</button>
          </div>
        </div>
      </form>


    </div>
  </div>
  
</div>


{% endblock %}