{% extends "base.html" %}
{% load static %}

{% load bootstrap4 %}

{% block css %}
    <link rel="stylesheet" href="{% static 'sse_finder/css/home.css' %}">
{% endblock %}

{% block title %}
    Add Location
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/add/case">New Case</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page"href="#">New Location</a>
</li>
{% endblock %}

{% block content %}

<div class="heading">
  <div class="heading-inner">
    <h3>Add New Location</h3>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="container">
          <div class="row mb-5"></div>
          <div class="row mb-3">
            <div class="col-sm text-right">Location Name</div>
            <div class="col-sm offset-md-1">{{ form.location_name }}</div>
            <div class="col-sm offset-md-3"></div>
          </div>
          <div class="row mb-3">
            <div class="col-sm text-right">Building Name</div>
            <div class="col-sm offset-md-1">{{ form.location }}</div>
            <div class="col-sm offset-md-3"></div>
          </div>
          <div class="row mb-3">
            <div class="col-sm text-right">Address</div>
            <div class="col-sm offset-md-1">{{ form.address}}</div>
            <div class="col-sm offset-md-3"></div>
          </div>
          <div class="row mb-3">
            <div class="col-sm text-right">Date of Event</div>
            <div class="col-sm offset-md-1">{{ form.date_of_event }}</div>
            <div class="col-sm offset-md-3"></div>
          </div>
          <div class="row mb-3">
            <div class="col-sm text-right">Brief Description</div>
            <div class="col-sm offset-md-1">{{ form.description_of_event }}</div>
            <div class="col-sm offset-md-3"></div>
          </div>
          <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary">Save Location</button>
            </div>
          </div>
        </div>

        
        
        <br>
      </form>
    </div>
  </div>
</div>

{% endblock %}