{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    Add Case
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">New Case</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">New Location</a>
</li>
<li class="d-flex nav-item">
  <a class="nav-link" href="/admin">Admin</a>
</li>
{% endblock %}

{% block content %}

<br>
<br>
<h1>Submit new dataset</h1>
<br>

<form method="post"  novalidate>
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="row button">
      <div class="col text-left">
          <a href="location" class="btn btn-primary">Add New Location</a>
      </div>
      <div class="col">
      </div>
      <div class="col text-right">
          <button type="submit" class="btn btn-primary">Save Case</button>
      </div>
  </div>
  <br>
</form>

{% endblock %}