.location_detail_container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location_details
{
    width: 70%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style-type: none;
}

.table-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-inner
{
    width: 50vw;
}