.heading
{
    width: 100%;
    height: 6rem;
    margin-bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-inner
{
    width: 66%;
}


.button
{
    align-self: right;
}