{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'sse_finder/css/style.css' %}">
    
    {% block css %}{% endblock %}
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='min' %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <div class="wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                
                <div class="container-fluid">
                    
                    <a href="/"><img class="navbar-brand logo" src="{% static 'sse_finder/logo.png' %}" alt="logo"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarText">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_case' %}">New Case</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add_location' %}">New Location</a>
                            </li>

                        </ul>
                    
                    </div>

                    <a href="admin/" class="d-flex nav-link text-dark">Admin</a>

                </div>

            </nav>

            {% block content %}

            {% endblock %}

            <!-- Footer -->
            <footer class="page-footer font-small blue footer">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2021 Copyright:
                <a href="https://mdbootstrap.com/"> Betalabs</a>
                </div>
                <!-- Copyright -->
            
            </footer>
            <!-- Footer -->
        </div>
    </div>
</body>
</html>