{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='min' %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        
        <div class="container-fluid">
            
            <a class="navbar-brand" href="#">SSE Finder</a>
        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New Case</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">New Location</a>
                    </li>
                    <li class="d-flex nav-item">
                        <a class="nav-link" href="#">Admin</a>
                    </li>
                </ul>
            
            </div>

            <a class="d-flex nav-link">Admin</a>

        </div>

    </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>