.wrapper
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(248, 247, 233);
    position: relative;
}

.container
{
    min-height: 82vh;
    padding: 0 !important;
    background-color: white;
}

.logo
{
    height: 4.5rem;
}

.nav-item
{
    padding: 0 2rem;
}

.footer-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer
{
    background-color: white;
    width: 66.7%;
}